[Unit]
Description=Service interface to control pulseaudio through a ls2 based API.
Requires=ls-hubd.service pulseaudio.service
After=ls-hubd.service pulseaudio.service

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/sbin/audio-service

[Install]
WantedBy=multi-user.target
